body {
    font-family: "Nunito", sans-serif;
}

header {
    z-index: 10;
    position: fixed;
    width: 100%;
}

.navigation-list {
    background-color: #333;
    overflow: hidden;
}

.navigation-logo {
    float: left;
    color: #04AA6D;
    padding: 0.75rem 3rem;
    font-size: 1.5rem;
}

.navigation-links {
    float: right;
    padding: 1rem;
    text-decoration: none;
    color: white;
    border-left: 1px solid white;
}

.navigation-links:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

main {
    padding: 3rem 0;
}

.main-content-wrapper {
    padding: 10rem 0;
    background: linear-gradient(270deg, #04AA6D 0%, #AB2203 100%);
}

.main-content {
    width: 50%;
    box-sizing: border-box;
    padding: 0 4rem;
    color: white;
}

.main-title {
    font-size: 3rem;
}

.best-word {
    text-transform: uppercase;
    color: #04AA6D;
}

.main-description {
    margin: 2rem 0;
}

.products-title {
    text-align: center;
    font-weight: 700;
    position: relative;
    margin: 0 2rem;
    font-size: 2rem;
}

.products-title::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 35%;
    background-color: #AB2203;
}

.products-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 35%;
    background-color: #AB2203;
}

.products-list {
    max-width: 80%;
    text-align: center;
    margin: 2rem auto;

}

.product-card {
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 4px 4px 2px gray;
    max-width: 300px;
    width: 20%;
    min-width: 225px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    margin: 1rem;
    display: inline-block;
    height: 370px;
    transition: 0.1s ease-in;
    
}

.product-card:hover {
    z-index: -1;
    translate: 0px -5px;
    scale: 1.05;
}

.product-card_image {
    min-width: 100%;
    height: 50%;
    object-fit: cover;
}

.product-card_content {
    margin: 0.5rem 0.5rem 1rem 0.5rem;

}

.product-card_title {
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    color: #04AA6D;
}

.product-card_description {
    color: #333;
    margin-bottom: 2rem;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-card_price {
    font-weight: 700;
    color: #04AA6D;
    text-align: right;
    font-size: 1.2rem;
}

.see_all-wrapper {
    text-align: center;
    margin-bottom: 3rem;
}

.products-see_all {
    text-decoration: none;
    color: white;
    background-color: #AB2203;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.products-see_all:hover {
    background-color: #04AA6D;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem;
}

.footer-text {
    text-align: left;
}

@media screen and (max-width:1500px) {
    .products-title::before {
        width: 30%;
    }
    
    .products-title::after {
        width: 30%;
    }
}

@media screen and (max-width:1200px) {
    .products-title::before {
        width: 25%;
    }
    
    .products-title::after {
        width: 25%;
    }
}

@media screen and (max-width:900px) {
    .products-title::before {
        width: 20%;
    }
    
    .products-title::after {
        width: 20%;
    }
}

@media screen and (max-width:750px) {
    .main-title {
        font-size: 2rem;
    }

    .products-title::before {
        width: 15%;
    }
    
    .products-title::after {
        width: 15%;
    }
}

@media screen and (max-width:650px) {
    .main-content {
        width: 60%;
    }

    .products-title::before {
        width: 5%;
    }
    
    .products-title::after {
        width: 5%;
    }
}

@media screen and (max-width:500px) {
    .products-title {
        font-size: 1.5rem;
    }

    .products-title::before {
        width: 0%;
    }
    
    .products-title::after {
        width: 0%;
    }
}

@media screen and (max-width:400px) {
    .navigation-logo {
        padding: 0.75rem 2rem;

    }
}