body {
    background-image: url("./img/coins.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 2rem; */
    background-color: rgba(56, 156, 56, 0.9);
    border-radius: 10px;
    padding: 2rem;
    height: 70%;
    width: 40%;
    position: relative;
}

.swap {
    position: absolute;
    top: 40%;
    right: 7%;
    cursor: pointer;
}

.title {
    color: white;
    margin: 0;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.my-form > select, .my-form > input {
    border-radius: 5px;
    padding: 0.4rem;
    background-color: rgba(231, 231, 231, 0.925);
}

.my-form > button {
    cursor: pointer;
}

.result {
    background-color: rgba(36, 105, 36, 0.9);
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    width: 50%;
    color: white;
}

.result > p {
    margin: 0;
}